In [1]:
import pandas as pd

In [18]:
# Orders
orders = pd.read_csv("Cleaned Dataset/clean_olist_orders_dataset.csv")

#Order Items
order_items = pd.read_csv("Cleaned Dataset/clean_olist_order_items_dataset.csv")

# Payments
payments = pd.read_csv("Cleaned Dataset/clean_olist_order_payments_dataset.csv")

# Reviews
reviews = pd.read_csv("Cleaned Dataset/clean_olist_order_reviews_dataset.csv")

# Products
products = pd.read_csv("Cleaned Dataset/clean_olist_products_dataset.csv")

# Sellers
sellers = pd.read_csv("Cleaned Dataset/cleaned_olist_sellers_dataset.csv")

# Geolocation
geolocation = pd.read_csv("Cleaned Dataset/cleaned_olist_geolocation_dataset.csv")

# Product Category Translation
product_category_translation = pd.read_csv("Cleaned Dataset/cleaned_product_category_name_translation.csv")

# Customers
customers = pd.read_csv("Cleaned Dataset/cleaned_olist_customers_dataset.csv")

In [20]:
#Merge Product category
products = products.merge(
    product_category_translation,
    on="product_category_name",
    how="left"
)

In [21]:
#Merge Order Items + Products
order_items_products = order_items.merge(
    products,
    on="product_id",
    how="left"
)

In [22]:
#Merge Sellers
order_items_products = order_items_products.merge(
    sellers,
    on="seller_id",
    how="left"
)

In [23]:
#Merge Orders (Customer + Delivery Info)
order_items_orders = order_items_products.merge(
    orders,
    on="order_id",
    how="left"
)

In [25]:
#Merge Customers
order_items_orders = order_items_orders.merge(
    customers,
    left_on="customer_id",
    right_on="customer_id",
    how="left"
)

In [26]:
#Merge ORDER ITEMS + PRODUCTS
order_items_products = order_items.merge(
    products,
    on="product_id",
    how="left"
)

In [27]:
#Merge SELLER details
order_items_products = order_items_products.merge(
    sellers,
    on="seller_id",
    how="left"
)

In [28]:
#Merge ORDERS (customer + delivery info
order_items_orders = order_items_products.merge(
    orders,
    on="order_id",
    how="left"
)

In [30]:
#Merge CUSTOMERS
order_items_orders = order_items_orders.merge(
    customers,
    left_on="customer_id",
    right_on="customer_id",
    how="left"
)

In [32]:
#Merge PAYMENTS
payment_agg = payments.groupby("order_id").agg(
    total_payment_value=("payment_value", "sum"),
    payment_installments=("payment_installments", "max"),
    zero_payment_flag=("is_zero_payment", "max")
).reset_index()

order_items_orders = order_items_orders.merge(
    payment_agg,
    on="order_id",
    how="left"
)

In [35]:
#Merge REVIEWS
review_agg = reviews.groupby("order_id").agg(
    avg_review_score=("review_score", "mean"),
    has_review_text=("has_review_text", "max")
).reset_index()

final_df = order_items_orders.merge(
    review_agg,
    on="order_id",
    how="left"
)

In [34]:
final_df.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_value,order_month,...,delivery_status,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,total_payment_value,payment_installments,zero_payment_flag,avg_review_score,has_review_text
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,9,...,True,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,72.19,2.0,False,5.0,True
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,5,...,True,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,259.83,3.0,False,4.0,False
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,1,...,True,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,216.87,5.0,False,5.0,True
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,8,...,True,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,25.78,2.0,False,4.0,False
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,2,...,True,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,218.04,3.0,False,5.0,True

In [39]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 42 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     112650 non-null  int64
 1   order_id                       112650 non-null  object
 2   order_item_id                  112650 non-null  int64
 3   product_id                     112650 non-null  object
 4   seller_id                      112650 non-null  object
 5   shipping_limit_date            112650 non-null  object
 6   price                          112650 non-null  float64
 7   freight_value                  112650 non-null  float64
 8   total_value                    112650 non-null  float64
 9   order_month                    112650 non-null  int64
 10  order_year                     112650 non-null  int64
 11  order_day                      112650 non-null  int64
 12  order_weekday                  112650 non-null  int64
 13  product_category_name          112650 non-null  object
 14  product_name_lenght            112650 non-null  float64
 15  product_description_lenght     112650 non-null  float64
 16  product_photos_qty             112650 non-null  float64
 17  product_weight_g               112650 non-null  float64
 18  product_length_cm              112650 non-null  float64
 19  product_height_cm              112650 non-null  float64
 20  product_width_cm               112650 non-null  float64
 21  product_category_name_english  112626 non-null  object
 22  seller_zip_code_prefix         112650 non-null  int64
 23  seller_city                    112650 non-null  object
 24  seller_state                   112650 non-null  object
 25  customer_id                    112650 non-null  object
 26  order_status                   112650 non-null  object
 27  order_purchase_timestamp       112650 non-null  object
 28  order_approved_at              112650 non-null  object
 29  order_delivered_carrier_date   111456 non-null  object
 30  order_delivered_customer_date  110196 non-null  object
 31  order_estimated_delivery_date  112650 non-null  object
 32  delivery_status                112650 non-null  bool
 33  customer_unique_id             112650 non-null  object
 34  customer_zip_code_prefix       112650 non-null  int64
 35  customer_city                  112650 non-null  object
 36  customer_state                 112650 non-null  object
 37  total_payment_value            112647 non-null  float64
 38  payment_installments           112647 non-null  float64
 39  zero_payment_flag              112647 non-null  object
 40  avg_review_score               111708 non-null  float64
 41  has_review_text                111708 non-null  object
dtypes: bool(1), float64(13), int64(8), object(20)
memory usage: 35.3+ MB

In [40]:
final_df.isna().mean().sort_values(ascending=False).head(10)

order_delivered_customer_date    0.021784
order_delivered_carrier_date     0.010599
has_review_text                  0.008362
avg_review_score                 0.008362
product_category_name_english    0.000213
payment_installments             0.000027
zero_payment_flag                0.000027
total_payment_value              0.000027
Unnamed: 0                       0.000000
order_id                         0.000000
dtype: float64

In [41]:
import os

os.makedirs("processed", exist_ok=True)

final_df.to_csv(
    "processed/merged_orders_customers.csv",
    index=False
)

In [42]:
final_df[['order_id','customer_unique_id','product_id','total_payment_value','avg_review_score']].head()

,order_id,customer_unique_id,product_id,total_payment_value,avg_review_score
0,00010242fe8c5a6d1ba2dd792cb16214,871766c5855e863f6eccc05f988b23cb,4244733e06e7ecb4970a6e2683c13e61,72.19,5.0
1,00018f77f2f0320c557190d7a144bdd3,eb28e67c4c0b83846050ddfb8a35d051,e5f2d52b802189ee658865ca93d83a8f,259.83,4.0
2,000229ec398224ef6ca0657da4fc703e,3818d81c6709e39d06b2738a8d3a2474,c777355d18b72b67abbeef9df44fd0fd,216.87,5.0
3,00024acbcdf0a6daa1e931b038114c75,af861d436cfc08b2c2ddefd0ba074622,7634da152a4610f1595efa32f14722fc,25.78,4.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,64b576fb70d441e8f1b2d7d446e483c5,ac6c3623068f30de03045865e4e10089,218.04,5.0

In [44]:
final_df.duplicated().sum()

np.int64(0)